/**
 *
 * Copyright 2012-2015 David Rodal
 * User: David Markarian Rodal
 * Date: 3/8/15
 * Time: 5:48 PM
 *
 *  This program is free software; you can redistribute it
 *  and/or modify it under the terms of the GNU General Public License
 *  as published by the Free Software Foundation;
 *  either version 2 of the License, or (at your option) any later version
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
@import "grunwaldColors";
/*df5842*/

@include headerColor(Teutonic-Order, #c0c0c0, gray);
@include headerColor(Kingdom-of-Poland, $polishColor, red);

@include unitColor(polish,$polishColor,  Brit, red );
@include unitColor(teutonic, white, TeutonicAnti, black, white, black);
@include unitColor(tartar, $polishColor,  Brit, green );
@include unitColor(lithuanian,$polishColor,  Brit, orange );

.polish.hq .counterWrapper .counter{
  &:before{
    color:yellow;
  }
}

.tartar.hq .counterWrapper .counter{
  &:before{
    color:yellow;
  }
}


.lithuanian.hq .counterWrapper .counter{
  &:before{
    color:yellow;
  }
}



.specialHexesVP .teutonicVictoryPoints {
  @include victoryPoints(black);
  color:white;
}

.specialHexesVP .polishVictoryPoints {
  @include victoryPoints(red);
  color:white;
}

.specialHexesVP .Teutonic-Order{
  color:white;
  background:black;
}

.specialHexes.Teutonic-Order{
  background:black;
  color:white;
}

.specialHexes.Kingdom-of-Poland{
  background:$polishColor;
}


.teutonic{
  .counterWrapper .bow{
    background: url('/vendor/wargame/medieval/grunwald1410/images/whiteArrow.svg');
    background-size:10px 13px;
    width:10px;
  }
}