/**
 *
 * Copyright 2012-2015 David Rodal
 * User: David Markarian Rodal
 * Date: 3/8/15
 * Time: 5:48 PM
 *
 *  This program is free software; you can redistribute it
 *  and/or modify it under the terms of the GNU General Public License
 *  as published by the Free Software Foundation;
 *  either version 2 of the License, or (at your option) any later version
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
@import "lewesColors";

/*df5842*/

@include headerColor(Rebel, $rebelColor, #86c3ff);
@include headerColor(Loyalist, $loyalistColor, red);
@include unitColor(loyalist,$loyalistColor,  Brit, red );
@include unitColor(rebel, $rebelColor, Bavarian, #26d5ff, black, black);

@include flagColor(rebel, white);

@include specialColor(Rebel, $rebelColor, white);
@include specialColor(Loyalist, red, white);

.rebel{
  .counterWrapper .bow{
    background: url('/vendor/wargame/medieval/lewes1264/images/whiteArrow.svg');
    background-size:10px 13px;
    width:10px;
  }
}
.conservitive{
  color:red;
}
